!!! 5
%html
  %head
    %link{ :rel => "stylesheet", :href => "/jgo/jgoboard.css", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "/jgo/all-min.js" }
    %script{ :type => "text/javascript", :src => "/js/play.js" }
    %script{ :src => "http://js.pusher.com/1.12/pusher.min.js" }
    %title weiqi by Eugene Ma
  %body
    .jgo_board#board{ :game_id => @g.id, :side => @color }
